@import '../variables';

.hero {
  height: 600px;
  background: $blue;
  background-image: url('../assets/hero-background-image.jpg');
  background-blend-mode: multiply;
  background-position: 0 -100px;
  background-attachment: fixed;
  background-size: cover;
  display: block;
  color: white;
  position: relative;
  @media (max-width: $screen-xs-min) {
    background-position: -400px -60px;
  }
  .logo {
    width: 55px;
    z-index: 1;
    @include absolute(8%, 10%);
    @media (max-width: $screen-xs-min) {
      @include absolute(8%, 12%);
    }
  }
  .content {
    @include absolute(50%, 50%);
    z-index: 1;
    width: 93vw;
    text-align: center;
    h1 {
      font-weight: normal;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 30px;
      margin: 0;
    }
    h3 {
      font-weight: normal;
    }
  }
  button {
    // @include absolute(73%, 50%);
    // @media (max-width: $screen-xs-min) {
    //   @include absolute(80%, 50%);
    // }
    margin-top: 15px;
    z-index: 1;
    background: none;
    border: 1.5px solid white;
    font-size: 15px;
    font-weight: bold;
    padding: 17px 25px;
    transition: 0.3s;
    &:hover {
      color: $blue;
      background: white;
    }
  }
}