@import '../variables';

.hero {
  height: 100vh;
  background: $blue;
  background-image: url('../assets/hero-background-image.jpg');
  background-size: cover;
  box-shadow: inset 100vw 0 0 0 $dark-blue-transparent;
  display: block;
}