@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$blue: #007bc1;
$dark-blue: #004a75;
$blue-transparent: #007ac1da;
$orange: #ff8000;
$dark-orange: #cc6600;
$smoke-grey: #e5e5e5;
$roboto: 'Roboto', sans-serif;
$screen-xs-min: 480px;
$screen-sm-min: 960px;

@mixin absolute($top, $left) {
  margin: 0;
  position: absolute;
  top: $top;
  left: $left;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}