@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$blue: #007bc1;
$dark-blue: #004a75;
$dark-blue-transparent: #003452bd;
$orange: #ff8000;
$dark-orange: #cc6600;
$smoke-grey: #e5e5e5;
$roboto: 'Roboto', sans-serif;
$screen-xs-min: 425px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;